[color]
	ui=true
[alias]
	lg=log
	st=status
	ci=commit
	co=checkout
	br=branch
[github]
	user=chenyi852
[user]
	email = Chenyi852@gmail.com
	name = Chen Yi
[sendemail]
#smtpencryption=tls
	from=chenyi852@gmail.com
	smtpuser=Chen Yi
	suppresscc=all
	confirm=always	
[push]
	default = matching
[core]
	fileMode = false
[http]
	sslVerify = false
	postBuffer = 1048576000
[http "http://gitlab.com"]
   proxy=
[credenotial]
	helper = /usr/local/bin/git-credential-gnome-keyring
[commit]
	template = ~/.gitmsg.txt
#	gpgsign = true
